* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

html{
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: #2e3790;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modalMobileAdvice {
  display: none;
  max-width: 500px;
  height: 95vh;
}

#modalMobileAdvice p {
  padding: 0px 10px;
  font-size: 20px;
  font-weight: 300;
  text-wrap: wrap;
  text-align: center;
  margin: 20px 0px;
  color: #EFEFEF;
}



/* Estilos Header */

.title-container {
  position: relative;
  height: 80px;
  justify-content: center;
  align-items: center;
}


h1 {
  color: #565656;
}

/* Estilos botón atrás */

.back-btn {
  position: absolute;
  top: -60px;
  left: -0px;
  width: 50px;
  height: 40px;
  background-color: #EA2A86;
  border: 3px solid ;
  border-radius: 0px 25px 25px 25px;
  border-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Estilos Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
}

.calcs-grid--container {
  width: 300px;
  height: 300px;
  padding: 40px 0px 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
  grid-template-areas: 
    "reingreso derivaciones"
    "nps tpa";
  justify-items: center;
  align-items: center;
}

.tpa {
  grid-area: "tpa";
}

.dervaciones {
  grid-area: "derivaciones";
}

.nps {
  grid-area: "nps";
}

.reingreso {
  grid-area: "reingreso";
}

.calc-item {
  width: 125px;
  height: 125px;
  border-radius: 10px;
  background-color: #E3CCAE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.calc-icon-container {
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-icon {
  width: 62.5px;
  height: 62.5px;
}

.calc-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #EA2A86;
  border-radius: 0px 0px 10px 10px;
}

.title-container, .front-card, .back-card {
  width: 340px;
  background-color: #E3CCAE;
  border: 2px solid #C09D6F ;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}

.app-container {
  position: relative;
  margin: 30px 0px;
  width: 340px;
  height: 415px;
}

.front-card, .back-card {
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: ease-in-out 600ms;
}

.front-card {
  position: absolute;
}

.front-card-rotate{
  transform: rotateY(180deg);
}

.back-card{
  position: absolute;
  transform: rotateY(180deg);
}

.back-card-rotate{
  transform: rotateY(360deg);
}


.home-title {
  font-size: 40px;
}

.tpa-title, .nps-title {
  font-size: 30px;
}

.derivaciones-title {
  font-size: 23px;
}

.reingreso-title {
  font-size: 25px;
}

/* Estilos Forms e inputs */

h2 {
  font-size: 20px;
  color: #565656;
}

.input-container, .btns-container {
  height: 65px;
  width: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 225px;
  height: 42px;
  background-color: #EFEFEF;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  color: #565656;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.obj-btn {
  margin: 0px 7.5px;
  width: 105px;
  height: 42px;
  background-color: #EFEFEF;
  border: 2px solid;
  border-radius: 5px;
  border-color: #40AE82;
  text-align: center;
  font-size: 12px;
  color: #565656;
}

.obj-btn:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

.selected{
  background-color: #e67850;
  /* background-color: #7af286; */
  border-color: #f8f8f8;
  color: #f8f8f8;
}

.form-container {
  margin: 20px 0px;
  width: 265px;
  height: 105px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-title {
  height: 40px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}

#containerObjetivoTPA {
  background-color: #4CCD99;
}

#containerCumplimientoTPA {
  background-color: #BB9EF4;
}

#containerAtendidasTPA {
  background-color: #F27CAA;
}

#containerObjetivoTPA, .form-title-objetivo-tpa {
  border-color: #40AE82;
}

#containerCumplimientoTPA, .form-title-cumplimiento-tpa,#inputCumplimientoTPA {
  border-color: #9F70FD;
}

#containerAtendidasTPA, .form-title-atendidas-tpa,#inputAtendidasTPA {
  border-color: #E84D89;
}

#containerObjetivoDerivaciones {
  background-color: #DC85D3;
}

#containerAtendidasDerivaciones {
  background-color: #ECA776;
}

#containerDerivadas {
  background-color: #BC86EE;
}

#containerObjetivoDerivaciones, .form-title-objetivo-derivaciones, #inputObjetivoDerivaciones {
  border-color: #C266B8;
}

#containerAtendidasDerivaciones, .form-title-atendidas-derivaciones, #inputAtendidasDerivaciones {
  border-color: #D38D5B;
}

#containerDerivadas, .form-title-derivadas, #inputDerivadas {
  border-color: #8F5EBC;
}

#containerPromotores {
  background-color: #91C483;
}

#containerNeutros {
  background-color: #F1D973;
}

#containerDetractores {
  background-color: #FF6464;
}

#containerPromotores, .form-title-promotores, #inputPromotores {
  border-color: #589348;
}

#containerNeutros, .form-title-neutros, #inputNeutros {
  border-color: #EAC424;
}

#containerDetractores, .form-title-detractores, #inputDetractores {
  border-color: #D24B4B;
}

#containerObjetivoReingreso {
  background-color: #84A1E3;
}

#containerAtendidasReingreso {
  background-color: #A7C58B;
}

#containerReingresadas {
  background-color: #E990AE;
}

#containerObjetivoReingreso, .form-title-objetivo-reingreso, #inputObjetivoReingreso {
  border-color: #5475BF;
}

#containerAtendidasReingreso, .form-title-atendidas-reingreso, #inputAtendidasReingreso {
  border-color: #8FA878;
}

#containerReingresadas, .form-title-reingresadas, #inputReingresadas {
  border-color: #C36384;
}

/*Estilos card*/

.result-container {
  width: 265px;
  height: 355px;
  background-color: #E1E3E3;
  box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #888686;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-title-container {
  width: 265px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid;
}

.result-title {
  display: inline-block;
  font-size: 20px;
  color: #FFFFFF;
}

.performance-container {
  width: 230px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #565656;

}

.performance {
  font-size: 20px;
  color: #565656;
}

.percentage-container {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 10px;
}

.percentage {
  font-size: 60px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);;
}

.sobresaliente {
  background-color: #74A567;
  border-color: #5C924E;
}

.adecuado{
  background-color: #91C483;
  border-color: #70B05F;
}

.a-mejorar{
  background-color: #ECD36B;
  border-color: #DFBE34;
}

.inadecuado{
  background-color: #F37979;
  border-color: #D76565;
}

.message-container {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#message {
  font-size: 25px;
  color: #565656;
}

#goalMessage {
  padding: 0px 32px;
  font-size: 17px;
  text-align: center;
  color: #565656;
}

/* Estilos botones */

#calcBtnContainer {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-button {
  width: 210px;
  height: 80px;
  overflow: hidden;
  border-top: none;
  border-left: none;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  text-align: center;
  color: #EFEFEF;
  text-shadow: 1.5px 1.5px 3px #438332;
  transition: ease-in-out 300ms;
}

.button-on {
  background-color: #6FB75B;
  border-right: 3px solid #3B8527;
  border-bottom: 3px solid #3B8527;
  color: #EFEFEF;
  text-shadow: 1.5px 1.5px 3px #438332;
}

.button-off {
  background-color: #a7a7a7;
  border-right: 3px solid #727272;
  border-bottom: 3px solid #727272;
  text-shadow: 1.5px 1.5px 3px #727272;
}

#closeSpan {
  font-size: 50px;
}

.close {
  width: 80px;
  background-color: #F36060;
  text-shadow: 1.5px 1.5px 3px #C34444;
  border-right: 3px solid #C34444;
  border-bottom: 3px solid #C34444;
  border-radius: 50%;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.25);
}

/* Estilos Aside */

aside {
  margin-bottom: 30px;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.access-container > a {
  width: 285px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.access-icon-container {
  width: 80px;
  height: 70px;
  background-color: #E3CCAE;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
}

.access-icon {
  width: 45px;
  height: 45px;
}

.access-title-container {
  width: 205px;
  height: 70px;
  background-color: #EA2A86;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.access-title {
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

/* Estilos Footer */

footer {
  width: 100%;
  height: 40px;
  background-color: #E3CCAE;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
}

#contenedor-footer {
  display: flex;
}

footer p {
  font-size: 14px;
  font-weight: bold;
  color: #30302D;
}

#logo-startek {
  margin-left: 4px;
  height: 14px;
}

/* Estilos de visibilidad*/

.inactive {
  display: none;
}

.hidden {
  visibility: hidden;
}

.opacity-off {
  opacity: 0%;
}

.fade-in {
  animation: fadeIn .3s ease-in-out 1;
}

.fade-out {
  animation: fadeOut .3s ease-in-out 1;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

/*
@media (max-width: 900px) {
 
  #header, main, aside {
    display: none;
  }

  #modalMobileAdvice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    position: relative;
  }
}
*/
